@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
}

.center-transform {
  transform: translate(-50%, -50%) !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a6adba36 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #a6adba36;
  border-radius: 20px;
}